.button {
  padding: 0.7rem 1.5rem;
  background-color: #2f68cb; /* כחול */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #1e4fa3;
}
